<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Webプログラミング 最終課題</title>
</head>
<body>
    <h1>システム一覧</h1>
    <ul>
        <li><a href="/stocks">株の管理システム</a></li>
        <li><a href="/dishes">イタリア料理システム</a></li>
        <li><a href="/songs">人気曲システム</a></li>
    </ul>
</body>
</html>