<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細情報</title>
</head>
<body>
    <h2>詳細情報</h2>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>料理名: <%= data.name %></li>
        <li>種類: <%= data.type %></li>
        <li>価格: <%= data.price %>円</li>
    </ul>
    <p><a href="/dishes">一覧に戻る</a></p>
</body>
</html>
